body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}

.filter {
    margin: 20px;
}

.filter-btn {
    margin-left: 50px;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 550;
}

.filter-btn:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.resturant-container {
    margin: 0 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.resturant-card {
    width: 275px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding: 10px 10px 20px;
    border-radius: 20px;
    margin: 10px 15px;
    transition: box-shadow 0.5s, border-radius 0.1s;
}

.resturant-card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.food-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating-img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* Shimmer UI */
.shimmer-container {
    margin-top: 100px;
    margin: 0 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 275px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 10px 20px;
    border-radius: 20px;
    margin: 10px 15px;
    background-color: #f0f0f0;
}

.search {
    padding: 5px 15px;
    margin: 5px 0px 5px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.search:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Error page */
.error-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Resturant Menu page */
.resturant-menu-header {
    display: flex;
    justify-content: center;
}

.menu-header {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-small;
}

.resturant-menu > hr {
    width: 800px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Collapsible */
.menu-toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    font-size: x-small;
}

.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.menu-item {
    margin-right: 10px;
}

.menu-food-img {
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

/* About us user */
.about-us-user {
    width: 500px;
    font-size: small;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
}

.about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-user-footer {
    display: flex;
    justify-content: space-between;
}

.about-us-user-footer > button {
    border-radius: 20px;
    cursor: pointer;
}

.about-us-user-footer > button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-us-user-header {
    display: flex;
    justify-content: space-between;
}

.profile-img {
    width: 150px;
    border-radius: 100%;
}

.shimmer-card-profile {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 10px;
}